body {
  background: #000; }
  body h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center; }
  body .parcel {
    width: 400px;
    height: 374px;
    margin: 0 auto;
    background: url("parcel.93150320.png"); }
