$baseColor: #000;

body {
  background: $baseColor;

  h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
  }

  .parcel {
    width: 400px;
    height: 374px;
    margin: 0 auto;
    background: url('../images/parcel.png');
  }
}